<%= form_for [@film, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id = "errors">
     <h2> <%= pluralize(@comment.errors.count, "error") %> prevented this comment from saving </h2>
     <ul>
      <% @comment.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <p>
   <%= f.label :description %>
   <%= f.text_field :description %>
  </p>
  <p>
    <%= submit_tag("Submit comment") %>
  </p>
<% end %>
