<!DOCTYPE html>
<html>
  <head>
    <title>RipeTomatillo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="navbar">
    <ul class="navbar-text pull-right">
    <% if user_signed_in? %>
      <li>Welcome to Ripe Tomatillo, <strong><%= current_user.email %></strong>.</li>
      <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>  </li>
      <li><%= link_to "Home",
      categories_path, :class => 'navbar-link' %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
      <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
      <li><%= link_to "Home",
      categories_path, :class => 'navbar-link' %></li>
    <% end %>
    </ul>
  </div><br>
    <%= yield %>
  </body>
</html>
